.home__info {
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__info > h4 {
  padding-top: 30px;
  font-style: italic;
  font-size: 34px;
  color: #fff;
  text-align: center;
}


.home__info > h5 {
  margin-top: 25px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1.1px;
}

.info__logos {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.remove1 {
  margin-top: -22px;
}

.info__button {
  margin-left: 17px;
}

.info__button > p {
  font-size: 24px;
  font-weight: 500;
  margin-top: -10px;
  color: yellow;
}

.info__button > button {
  padding: 15px 24px;
  border-radius: 99px;
  font-size: 17px;
  margin-top: 20px;
  /* background: linear-gradient(to right, rgb(127, 127, 228), rgb(238, 155, 238)); */
  /* color: #fff; */
  cursor: pointer;
  color: rgb(59, 55, 17) !important;
  border: 1px solid transparent;
}

.info__button > button:hover {
  /* transition: all 4s; */
  color: rgb(0, 0, 0) !important;
  background: linear-gradient(to right, rgb(203, 252, 125), rgb(228, 226, 127));
}

.home__info {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("banner.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height: 80vh;
  /* filter:brightness(70%); */
}

.home__info > p {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.home__info > p > span {
  color: yellow;
}

.countdown {
  background: #f3f171;
  padding: 10px 8px;
  color: #000;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.countdown__span {
  margin-top: 20px;
  font-size: 12px;
}

.technoblaze,
.technical {
  margin-left: 12px;
  margin-right: 12px;
}

.technoblaze > p {
  font-style: italic;
  line-height: 1.35;
}

.technoblaze__title > p,
.technical__title > p,
.nontechnical__title > p {
  border-left: 5px solid #000;
  padding-left: 15px;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.nontechnical {
  margin-left: 20px;
  /* display: flex;
    flex-direction: column; */
}

.nontechnical__data {
  display: grid;
  margin-top: 30px;
}

.technoblaze {
  /* font-style: italic; */
  font-size: 17px;
}

@media (max-width: 769px) {
  .remove1 {
    display: none;
  }

  .remove {
    display: none;
  }

  .home__info {
    padding-top: 100px;
    height: 50vh;
  }
  .home__info > h4 {
    margin-top: -100px;
    font-size: 13px;
  }

  .info__button > p {
    font-size: 26px !important;
  }

  .home__info > h5 {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 40px;
  }

  .home__info > p {
    font-size: 19px;
    margin-top: 60px;
  }

  .info__button > p {
    font-size: 20px;
  }
}

@media (min-width: 1068px) {
  .technical__list,
  .nontechnical__data {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
